.Navitems {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.Navitem {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.Navitem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block
}

.Navitem a:hover {

}
.Navitem a:active {
    background-color: #8f5c3c;
    border-bottom: 4px solid #40a4ca;
    color: white;
    
}
.Navitem a:hover {
    
}