.Navitems {
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    background-color: #703b09;
}

.Navitem {
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;

}

.Navitem a {
    color:white;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 16px 10px;

}

.Navitem a:active {

    color: white;
}

.Navitem a.active {
    background-color: #8f5c3c;
    color: white;
}

.Navitem a:hover {

}
.Navitem a.hover {
}
/*  */
.NavLink {
    display: block;
    box-sizing: border-box;
    margin: 4px;
    padding: 30px;
    color: white;
    width: 100%;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.NavLink:hover, .NavLink:active, .NavLink.active, .active {
    background-color: #8f5c3c;
    color: white;
}








@media (min-width: 501px) {
    .Navitems {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 100%;
    }

    .Navitem {
        margin: 0px;
        padding: 6px;
    }

    .Navitem a {

        height: 100%;
        padding: 16px 10px;

    }

    .NavLink {
        display: inline-flex;
        box-sizing: border-box;
        margin: 0px 10px;
        padding: 16px 16px;
        height: 100%;
        width: auto;
        align-items: center;
        border-bottom: 4px solid transparent;
        color: white;
        text-align: center;
    }

    .NavLink:hover, .NavLink:active, .NavLink.active {
        background-color: #8f5c3c;
        border-bottom: 4px solid #40a4ca;
        color: white;
    }

    .Navitem a:hover {

    }
    .Navitem a:active {
        background-color: #8f5c3c;
        border-bottom: 4px solid #40a4ca;
        color: white;
    }

    .Navitem a.active {
        background-color: #8f5c3c;
        border-bottom: 4px solid #40a4ca;
        color: white;
    }

    .Navitem a.hover {
    }

 
}
